<ion-header>
  <ion-toolbar>
    <ion-title>
      Aula 6 (Alan)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <form (ngSubmit)="salvarUsuario()">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="usuarioCadastro.nome" name="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Idade</ion-label>
          <ion-input type="text" [(ngModel)]="usuarioCadastro.idade" name="idade"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Salvar</ion-button>
        
      </form>


<ion-list>
  <ion-item *ngFor="let usuario of usuarios">
    {{usuario.nome}} - {{usuario.idade}}
  </ion-item>
</ion-list>
</ion-content>
